!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}Beerd Brewing
    %meta(name="description" content="Beerd Brewing is a group of homebrewers.")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %img.logo{src: "/logo.png", alt: "How to Node"}
          .tagline
            Mmmmmmmmm Beer.
      = content
      
      #footer
        %p &copy; 2012 Beerd Brewing
        %p Content and articles are copyrighted to the individual authors. Design by&nbsp;
          %a{href: "http://bengourley.co.uk"} Ben Gourley
          .
        %p Powered by Wheat running on node #{process.version}
      :script
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-34680841-1']);
          _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();